[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A highly accessible, open source game about reaction times
[access "refs/*"]
	owner = group user/Phil (lobobabysaurus)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Phil (lobobabysaurus)
	label-Verified = -1..+1 group user/Phil (lobobabysaurus)
	push = group user/Phil (lobobabysaurus)
	read = group user/Phil (lobobabysaurus)
	rebase = group user/Phil (lobobabysaurus)
	removeReviewer = group user/Phil (lobobabysaurus)
	submit = group user/Phil (lobobabysaurus)
[access "refs/heads/*"]
	create = group user/Phil (lobobabysaurus)
	push = +force group user/Phil (lobobabysaurus)
	pushMerge = group user/Phil (lobobabysaurus)
	read = group user/Phil (lobobabysaurus)
[access "refs/tags/*"]
	push = group user/Phil (lobobabysaurus)
	push = +force group user/Phil (lobobabysaurus)
